{% extends "users/base.html" %}

{% block main_body %}                
   <!-- Content Header (Page header) -->
   <section class="content-header">
    <h1>
      Orders information Update
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Update a new order</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form action="{% url 'users_orders_doedit' orders.id %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleSelectBorder">Recipes Name</label>
                  <select class="custom-select" name="recipes_id" id="recipes_id" onchange="doLoadCategory(0)">
                    {% for cvo in recipeslist %}
                      <option value="{{cvo.id }}"{% if cvo.id == orders.recipes %} selected {% endif %}>{{cvo.name}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Quantity</label>
                  <input type="text" name="num" value="{{ orders.num }}" class="form-control" id="exampleInputEmail1" placeholder="Quantity">
                </div>
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-default float-right">Reset</button>
                  </div>
                </form>
              </div>
            </div>
      </div>
    </div>

  </section>
  <!-- /.content -->
{% endblock %}