{% load static from static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Recipe manage system</title>

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  
  <link rel="stylesheet" href="{% static 'users/bower_components/fontawesome-free/css/all.min.css'%}">

  <link rel="stylesheet" href="{% static 'users/bower_components/Ionicons/css/ionicons.min.css'%}">

  <link rel="stylesheet" href="{% static 'users/dist/css/adminlte.min.css' %}">

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-blue navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="{% url 'users_webindex' %}" class="nav-link">Home</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="{% url 'users_friends_viewfriends' 1 %}" class="nav-link">Friends</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="{% url 'users_orders_vieworders' 1 %}" class="nav-link">Orders</a>
    </li>
  </ul>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <!-- Navbar Search -->
    <li class="nav-item">
      <a class="nav-link" data-widget="navbar-search" href="#" role="button">
        <i class="fas fa-search"></i>
      </a>
      <div class="navbar-search-block">
        <form class="form-inline">
          <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-navbar" type="submit">
                <i class="fas fa-search"></i>
              </button>
              <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" data-widget="fullscreen" href="#" role="button">
        <i class="fas fa-expand-arrows-alt"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex" data-widget="control-sidebar" data-slide="true" href="#" role="button">
        <img src="/static/uploads/Users/{{request.session.user.avatar_pic}}" class="img-circle elevation-2" alt="User Image">
        &nbsp;&nbsp;<span class="hidden-xs">{{request.session.user.nickname}}</span>
      </a>
    </li>
  </ul>
</nav>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-primary elevation-4">
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="/static/uploads/Users/{{request.session.user.avatar_pic}}" class="img-circle elevation-2">
      </div>
      <div class="info">
        <a href="#" class="d-block">{{request.session.user.nickname}}</a>
      </div>
    </div>


    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-egg"></i>
            <p>
              Recipes Management
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'users_recipebook_viewrecipebook' 1 %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Recipe List</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'users_recipes_viewrecipes' 1 %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Recipes</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'users_category_viewcategory' 1 %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Ingredients Category</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'users_ingredients_viewingredients' 1 %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Ingredients</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      {% block main_body %}
      {% endblock %}
    
  </div>
  <!-- /.content-wrapper -->

  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>User Information</h5>
      <p>At a Glimpse</p>
      <center><img src="/static/uploads/Users/{{request.session.user.avatar_pic}}" class="img-size-50 img-circle" alt="User Image"></center>
      <p>
        <center>{{request.session.user.nickname}}</center>
        <small><center>{{request.session.user.email}}</center></small>
        <small><center>Joined in {{request.session.user.create_at}}</center></small>
      </p>
      <center><div class="center">
        <a href="{% url 'users_user_edit' request.session.user.id %}" class="btn btn-default btn-flat">Update</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'users_logout' %}" class="btn btn-default btn-flat">Logout</a>
      </div></center>
    </div>
  </aside>

<!-- ./wrapper -->

<div id="edu-alert" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>[Message]</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary ok" data-dismiss="modal">[BtnOk]</button>
        <button type="button" class="btn btn-primary cancel" data-dismiss="modal">[BtnCancel]</button>
      </div>
    </div>
  </div>
</div>
<!-- edu-model-end -->

<!-- REQUIRED JS SCRIPTS -->
  
<!-- jQuery 3 -->
<script src="{% static 'users/bower_components/jquery/dist/jquery.min.js'%}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{% static 'users/bower_components/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<!-- AdminLTE App -->
<script src="{% static 'users/dist/js/adminlte.min.js'%}"></script>

<script src="{% static 'users/dist/js/edu-modal-alert-confirm.js'%}"></script>

<script type="text/javascript">
	function doDel(url){
    Modal.confirm({
        msg: "Do you want to delete it？",
        title: ' Notification',
        btnok: 'Delete',
        btncl:'Cancel'
      }).on(function (e){
        if(e){
          window.location.href=url;
          //Modal.alert({msg: "Delete successfully",title: ' Notification',btnok: 'Yes',btncl:'Cancel'});
        }
      });
    }
</script>

{% block loadjavascript %}
{% endblock %}
</body>
</html>